<%- include('header') -%>
    <section>
        <div class="container">
            <br>
            <h3>Resposta</h3>
            <hr>
            <%- response -%>
        </div>
    </section>
    <%- include('footer') -%>