<%- include('header') -%>
    <section>

        <div class="container">
            <br>
            <h3>Usuários</h3>
            <hr>
            <%- users -%>
        </div>

    </section>
    <%- include('footer') -%>